@media (min-width:992px) {
    aside{
        position: static;
        width: 100%;
        height: auto;
        background-color:var(--bg-white);
        flex: 1;
        padding: 20px;
        border-radius: 12px;
    }
    .aside{
        position: fixed;
        padding: 20px;
    }
    header{
        padding: 10px 20px;
    }
}   