:root {
    --light-gray: #eceaf3;
    --gray: #7d8182;
    --light-black: #464255;
    --bg-white: #ffffff;
    --bg-dul-white: #f3f2f7;
    --black: #0d0d0d;
    --light-black: #404040;
    --light-black-tra: #404040ac;
    --light-blue:#9da1cc;
    --light-blue-tra:#bcbfe7db;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-dul-white);
    font-family: "Poppins", sans-serif;
    font-family: 16px;
}
.pageTitle{
    text-transform: capitalize;
    margin: 12px 0;
    margin-left: 12px;
    color: var(--light-black);
}
.logoCom{
    font-family: "Lobster", sans-serif;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.validationError{
    color: #cb2525;
}
#main{
    flex-grow: 1;
}
.iconButton {
    margin-right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-blue-tra);
    color: var(--light-black);
    border-radius: 6px;
}

.aside {
    width: 25%;
    position: relative;
    transition: all .4s linear
}

aside {
    background-color: #eceaf3;
}

aside {
    padding: 20px;
    transition: all .2s linear;
    position: fixed;
    top: 0;
    left: 0;
    right: 50%;
    z-index: 9999;
    background-color: var(--bg-white);
    height: 100vh;
}

.show {
    transform: translateX(0);
}

.hide {
    transform: translateX(-200%);
}
/* previewImage */
.previewImageLabel{
position: relative;
overflow: hidden;
}
.previewImageLabel i {
    color: transparent;
    font-size: 23px;
    transition: all .2s linear;

}
.previewImageLabel::before{
    content: '';
    width: 100%;
    height:  100%;
    position: absolute;
    cursor: pointer;
    transition: all .2s linear;
}
.previewImageLabel:hover::before{
    background-color: #11111197;
}
.previewImageLabel:hover i{
    color: var(--bg-white);
}
.removeImgBtn{
    position: absolute;
    z-index: 999;
    right:5px;
    top: 5px  ;
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: transparent;
    color: var(--bg-white);
    border: none;
}
/* button class */
.themButtonFill{
    background-color: var(--black);
    color: var(--bg-white);
    border: 2px solid var(--black);
    transition: all .2s linear;
}
.themButtonFill:hover{
    border: 2px solid var(--black);
    background-color: transparent ;
    color: var(--black) ;
}
.themButtonBorder{
    background-color: transparent;
    color: var(--black);
    border: 2px solid var(--black);
    transition: all .2s linear;
}
.themButtonBorder:hover{
    border: 2px solid var(--black);
    background-color: var(--black) ;
    color: var(--bg-white) ;
}
/* input type password eye icon  */
.PasswordEyeButton {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 50%;
    right: 2%;
    color: var(--gray);
    transform: translateY(-50%);
}

input.themInput {
    color: rgb(40, 39, 39) !important;
    border: none;
    background-color: var(--light-gray);
}

input.themInput:focus {
    box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 25%);
    border-color: #0d0d0d;
}
.addDataFrom{
    background-color: var(--bg-white);
    padding: 30px ;
    border-radius: 12px;
}